Microsoft: DEV204.3x
Algorithms and Data Structures in C#


The size of an array is the total number of elements that it can contain.
must declare the size of the array

int[] arrayName = new int[10];

Arrays of a particular type can only hold elements of that type.


accessing data in an array: 

//Accessing Data by Index
int[] oldNumbers = { 1, 2, 3, 4, 5 };
//number will contain the value 3
int number = oldNumbers[2];

//Iterating Over an Array
 int[] oldNumbers = { 1, 2, 3, 4, 5 };
 for (int i = 0; i < oldNumbers.Length; i++)
 {
     int number = oldNumbers[i];
     ...
 }





 
